$color-primary: #b59d7c;
$color-secondary: #574327;
$color-white: #fff;

// Social
.social {
  flex-direction: column;
  gap: 0.35rem;
  font-size: 3rem;
  color: #fff;

  position: fixed;
  top: 45%;
  right: 2rem;

  transform: translateY(-50%) scale(1);
  transition: all 1s;

  a {
    color: #fff;
    &:hover {
      cursor: pointer;
    }

    svg {
      transition: all 0.3s;
      &:hover {
        transform: translateY(0) scale(1.2);
      }
    }
  }

  &__footer {
    flex-direction: row;
    justify-content: center;
    position: relative;
    transform: translateY(0);
    right: 0;
    gap: 1.2rem;

    svg {
      background-image: linear-gradient(to right bottom, $color-secondary, #fff);
      color: #111;
      border-radius: 5rem;
      padding: 0.9rem;
    }
  }

  &__home {
    animation: moveInSocial 1.5s ease-in;
  }
}

.r-0 {
  transform: translate(10rem, -50%);
}

.oy-hidden {
  overflow-y: hidden;
}

.p-fix {
  position: fixed !important;
}

.py-5 {
  padding-top: 29.1rem !important;
}
