.swiper-wrapper {
  svg {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2rem;
    color: $color-primary;
  }

  h4 {
    margin-bottom: 0.5rem;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 2rem;
  z-index: 1 !important;

  .swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    color: transparent;
    background: none;
    border-radius: 50%;
    border: 1.5px solid $color-primary;
    cursor: pointer;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-primary !important;
}
