// UTILITIES
$color-primary: #b59d7c;
$color-secondary: #574327;
$color-white: #fff;

.d-flex {
  display: flex;
}
.j-content-between {
  justify-content: space-between;
}
.j-content-centar {
  justify-content: center;
}
.j-content-start {
  justify-content: start;
}
.j-content-end {
  justify-content: end;
}
.a-items-start {
  align-items: flex-start;
}
.a-items-center {
  align-items: center;
}
.a-items-end {
  align-items: flex-end;
}

// ...................
.d-grid {
  display: grid;
}
// ..................
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

// ................
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 6rem !important;
}

.active {
  color: $color-primary !important;
}

.long-line {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
}

.line {
  height: 3px;
  width: 5rem;
  margin: 4rem auto;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
}

.d-none {
  display: none;
}

.dropdown-show {
  display: grid !important;
}
